<div class="control_container">
  <div class="select_temperature_type_container">
    <app-select-temperature-type
      *ngIf="selectedTemperatureType$ | async as selectedTemperatureType"
      [selectedTemperatureType]="selectedTemperatureType"
      (selectEmitter)="selectTemperatureType($event)"
    ></app-select-temperature-type>
  </div>
  <div class="empty_container"></div>
  <div class="slider_date_container">
    <app-slider-date
      (dateEmitter)="selectDate($event)"
      [selectedDate]="selectedDate$ | async"
    ></app-slider-date>
  </div>
</div>
<div class="panels_container">
  <div class="department_detail_panel">
    <div class="panel_container">
      <app-details-department
        *ngIf="selectedTemperatureType$ | async as selectedTemperatureType"
        [selectedTemperatureType]="selectedTemperatureType"
        [department]="selectedDepartment$ | async"
        [temperature]="selectedDepartmentTemperature$ | async"
        (temperatureTypeEmitter)="selectTemperatureType($event)"
        (nextPreviousDepartmentEmmitter)="selectNextPreviousDeparment($event)"
      >
      </app-details-department>
    </div>
  </div>
  <div class="map_france_panel">
    <div class="panel_container">
      <img
        (click)="toogleExpandMapPanel()"
        class="expand"
        src="../../../../assets/expand.svg"
        alt="SVG Image"
      />
      <!-- on stocke dans la variable "selectedTemperature" la valeur de l'observable selectedTemperatureType 
        en faisant un *ngIf pour ne pas introduire de null. sinon selectedTemperatureType peut être de type null -->
      <app-svg-departments
        *ngIf="selectedTemperatureType$ | async as selectedTemperatureType"
        [departmentsWichTemperatures]="departmentsWichTemperatureMoy$ | async"
        [selectedDepartment]="selectedDepartment$ | async"
        [selectedTemperatureType]="selectedTemperatureType"
        (departmentEmitter)="selectDepartment($event)"
      ></app-svg-departments>
    </div>
  </div>
  <div *ngIf="mapPanelIsExpanded" class="map_france_panel expanded">
    <div class="panel_container">
      <img
        (click)="toogleExpandMapPanel()"
        class="expand"
        src="../../../../assets/shrink.svg"
        alt="SVG Image"
      />
      <app-svg-departments
        *ngIf="selectedTemperatureType$ | async as selectedTemperatureType"
        [departmentsWichTemperatures]="departmentsWichTemperatureMoy$ | async"
        [selectedDepartment]="selectedDepartment$ | async"
        [selectedTemperatureType]="selectedTemperatureType"
        (departmentEmitter)="selectDepartment($event)"
      ></app-svg-departments>
    </div>
  </div>
  <div class="list_departments_panel">
    <div class="panel_container">
      <app-list-departments
        [departments]="departments$ | async"
        [selectedDepartment]="selectedDepartment$ | async"
        (departmentEmitter)="selectDepartment($event)"
      ></app-list-departments>
    </div>
  </div>
  <div class="chart_panel">
    <div class="panel_container">
      <app-chart-line
        *ngIf="selectedTemperatureType$ | async as selectedTemperatureType"
        [data]="temperaturesForSelectedDepartmentOverThreeMonth$ | async"
        [selectedDate]="selectedDate$ | async"
        [selectedTemperatureType]="selectedTemperatureType"
        (dateEmitter)="selectDate($event)"
      ></app-chart-line>
    </div>
  </div>
</div>
