$transition_hover_selected: .2s;

.container {
  height: 100%;
  svg {
    height: 100%;
    fill: transparent;
    // stroke: var(--heigh_contrast_text);
    stroke-width: .4px;
    cursor: pointer;
    path.selected, path:hover {
      stroke: var(--subtle_borders);
      transition: $transition_hover_selected;
    }
  }
}



@media screen and (max-width: 960px) {
  .container {
    svg {
      width: 100%;
    }
  }
}
