$transition_hover_selected: 0.2s;
$legende_bar_width: 5px;

.container {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  position: relative;
  .svg_container {
    svg {
      height: 100%;
      fill: transparent;
      // stroke: var(--heigh_contrast_text);
      stroke-width: 0.4px;
      cursor: pointer;
      path.selected,
      path:hover {
        stroke: var(--app_background);
        stroke-width: 1px;
        transition: $transition_hover_selected;
        filter: url(#inner-shadow);
      }
    }
  }
  .legende_container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100px;
    display: flex;
    gap: 5px;
    .bar_container {
      display: flex;
      flex-direction: column-reverse;
      .bottom_radius {
        width: $legende_bar_width;
        height: $legende_bar_width;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .color_of_gradiant {
        width: $legende_bar_width;
        flex: 1;
      }
      .top_radius {
        width: $legende_bar_width;
        height: $legende_bar_width;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    .digit_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        margin: 0;
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .container {
    .svg_container {
      svg {
        width: 100%;
      }
    }
  }
}
