input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
  width: 800px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--solid_backgrounds);
  height: 0.5rem;
  border-radius: 10px;
  box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.10) inset;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
  margin-top: calc((0.5rem/2) - (1rem/2));
  background-color: var(--app_background);
  height: 1rem;
  width: 1rem;
  border: solid 1px var(--grey_subtle_borders_separators);
  box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.15) inset;
}


