.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 1px;
  .switch {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    &.next {
      margin-right: -21px;
      border-left: solid 1px var(--grey_subtle_borders_separators);
    }
    &:hover {
      background-color: var(--grey_hovered_ui_element);
    }
    &.previous {
      margin-left: -21px;
      border-right: solid 1px var(--grey_subtle_borders_separators);
    }
  }
  .informations_container {
    flex: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;

    .department_svg {
      max-width: 100%;
      height: 30%;
      align-self: center;
      fill: none;
      stroke: var(--grey_heigh_contrast_text);
      stroke-width: 0.4px;
    }

    .title {
      display: flex;
      font-size: larger;
      gap: 10px;
      color: var(--grey_heigh_contrast_text);
      p {
        margin: 0;
      }
    }

    .temperatures {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      svg {
        height: 14px;
      }
      .temperature {
        display: flex;
        align-items: center;
        gap: 1px;
        cursor: pointer;
        p {
          margin: 0 0 0 0;
          font-size: 0.8em;
          transition: 0.2s;
        }
        svg {
          height: 12;
          transition: 0.2s;
          path {
            stroke-width: 1.5;
          }
        }

        &.tmax {
          svg {
            stroke: #f76b15;
          }
          p {
            color: #f76b15;
          }
        }
        &.tmoy {
          svg {
            stroke: #a5470e;
          }
          p {
            color: #a5470e;
          }
        }
        &.tmin {
          svg {
            stroke: #502206;
          }
          p {
            color: #502206;
          }
        }

        &.active {
          p {
            font-size: 1.1rem;
          }

          svg {
            height: 16px;
          }
        }

        &:hover {
          p {
            font-size: 1.1rem;
          }

          svg {
            height: 16px;
          }
        }
      }
    }
  }
}
