.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;

  .department_svg {
    max-width: 100%;
    height: 30%;
    align-self: center;
    fill: none;
    stroke: var(--grey_heigh_contrast_text);
    stroke-width: 0.4px;
  }

  .title {
    display: flex;
    font-size: larger;
    gap: 10px;
    color: var(--grey_heigh_contrast_text);
    p {
      margin: 0;
    }
  }

  .temperatures {
    display: flex;
    justify-content: space-between;
    svg {
      height: 14px;
    }
    .temperature {
      display: flex;
      gap: 2px;
      p {
        margin: 0 0 0 0;
        font-size: 0.9em;
      }
    }

    .max {
      svg {
        fill: #f76b15;
      }
      p {
        color: #f76b15;
      }
    }
    .moy {
      svg {
        fill: #a5470e;
      }
      p {
        color: #a5470e;
      }
    }
    .min {
      svg {
        fill: #502206;
      }
      p {
        color: #502206;
      }
    }
  }
}
