* {
  box-sizing: border-box;
  font-family: "KoHo", sans-serif;
}

:root {
  // colors
  --app_background: #fcfcfc;
  --subtle_background: #f9f9f9;
  --solid_backgrounds: #f76b15;
  --subtle_borders: #ffc182;
  --heigh_contrast_text: #202020;

  // grey
  --grey_app_background: #fcfcfc;
  --grey_subtle_borders_separators: #d9d9d9;
  --grey_hovered_ui_element: #e8e8e8;
  --grey_solid_backgrounds: #8d8d8d;
  --grey_hovered_solid_backgrounds: #838383;
  --grey_low_contrast_text: #646464;
  --grey_heigh_contrast_text: #202020;

  // panel
  --padding_panel: 20px;
  --box_shadow_panel: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  --border_box_panel: 5px;
}

p {
  color: var(--grey_low_contrast_text);
}

body {
  background-color: var(--subtle_background);
  margin: 0;
}

.body_container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 1vh;
  height: 1vh;
}

::-webkit-scrollbar-track {
  background: var(--grey_subtle_borders_separators);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--grey_solid_backgrounds);
}

::-webkit-scrollbar-thumb:hover {
  background: var(grey_hovered_solid_backgrounds);
}

.menu {
  height: 100%;
  width: 0px;
}

.app_container {
  height: 100%;
  width: 100%;
  padding: 5px;
}

@media screen and (max-width: 730px) {
  .body_container {
    width: 98vw;
  }
}
